
/* Hero */

section.hero .hero-inner
{
   height: 55vh;
   border-radius: 20px;
   background-image: url('/images/man-working-night.jpg');
   background-size: cover;
   background-position: top -60px left 0px;
}
section.hero .hero-inner .hero-inner-content
{
   bottom: 10%;
}
.hero-leader
{
  width: 250px;
  line-height: 45px;
}

/* Main */

/* Filters */

.filters-container [data-bs-toggle='collapse'] i
{
   transition: all .25s ease;
   transform: rotate(180deg);
}
.filters-container [data-bs-toggle='collapse'].collapsed i
{
   transform: rotate(0deg);
}